*{
    margin:0;
    padding:0;
}
hr{
    padding:10px;
    margin: 10px;
    border: white solid 1px;
}
body {
    background-color:rgb(15, 15, 70);
    color: whitesmoke;
}
main {
    border: 6px ridge pink;
    background-color: #555;
    margin: 10px;
    padding: 10px;
}
header {
    border-width: 8px; 
    border-style: solid;
    border-color: rgb(95, 189, 244);
    border-radius: 1em;
    background-color: rgb(159, 102, 213);
    margin: 10px;
}
.lblue-border{
    border: 2px dotted lightskyblue;  

}
#green-background {
    background-color: rgb(4, 125, 196);
}
.pink-link{
    color:thistle;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:larger;
    font-style: italic;
    color:rgb(140, 206, 244);
    text-shadow: rgb(191, 210, 246);
    padding:10px 10px 10px 10px;
}
h2{
    padding: 0 0 10px 18px;
}
h1{
    color:coral;
    padding:0 0 10px 10px;
}
p{
    border-width: 8px;
    border-left-style: double;
    border-radius: 1em;  
    padding:10px 0 10px 10px; 
}
.special-border{
    border: 30px ridge rgb(104, 187, 235);
    border-radius:15% ;
}
.fancy-font{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: x-large;
}
ol{
    padding: 10px 25px;
}
nav{
    padding: 10px;
    margin: 0px auto;
    width: 250px;  
}
.navigation-li{
    display: inline;
    padding: 5px;
    
}
.navigation-a{
    text-decoration: none;
}
/* media queries */
@media (min-width: 1024px){
body{
    background-color: azure;
}
main{
    background-color: cadetblue;
    color:coral;
    font-size: xx-small;
    line-height: 5em;
}
p{
    font-size: xx-small;
    line-height: 3em;
}
}
/*h1 {                                                                                 
    font-size: 100px;                                                                
}  */